aiohttp==3.9.3
aiohttp-retry==2.8.3
aiosignal==1.3.1
annotated-types==0.6.0
appdirs==1.4.4
asgiref==3.7.2
astroid==2.5.3
attrs==23.2.0
blis==0.7.11
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
channels==4.0.0
channels-redis==4.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.4
confection==0.1.4
cryptography==42.0.5
cymem==2.0.8
defusedxml==0.8.0rc2
diff-match-patch==20230430
distlib==0.3.8
Django==5.0.3
django-anymail==10.3
django-ckeditor==6.7.1
django-ckeditor-5==0.2.12
django-classy-tags==4.1.0
django-cms==4.1.0
django-crispy-forms==2.1
django-filter==24.1
django-formtools==2.5.1
django-import-export==3.3.7
django-jazzmin==2.6.0
django-js-asset==2.2.0
django-mathfilters==1.0.0
django-otp==1.3.0
django-otp-yubikey==1.0.1
django-phone-field==1.8.1
django-phonenumber-field==7.3.0
django-sekizai==4.1.0
django-tables2==2.7.0
django-taggit==5.0.1
django-treebeard==4.7.1
django-two-factor-auth==1.16.0
djangocms-admin-style==3.3.1
djangocms-text-ckeditor==5.1.5
et-xmlfile==1.1.0
filelock==3.13.1
frozenlist==1.4.1
gunicorn==20.0.4
h11==0.14.0
html5lib==1.1
idna==3.6
import-export==0.3.1
isort==5.8.0
Jinja2==3.1.3
langcodes==3.3.0
lazy-object-proxy==1.6.0
MarkupPy==1.14
MarkupSafe==2.1.5
mccabe==0.6.1
msgpack==1.0.8
multidict==6.0.5
murmurhash==1.0.10
numpy==1.26.4
oauthlib==3.2.2
odfpy==1.4.1
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==24.0
phonenumbers==8.13.31
Pillow==8.2.0
pipenv==2023.12.1
platformdirs==4.2.0
preshed==3.0.9
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
PyJWT==2.8.0
pylint==2.7.4
pypng==0.20220715.0
PySocks==1.7.1
python3-openid==3.2.0
pytz==2020.4
PyYAML==6.0.1
qrcode==7.4.2
redis==5.0.3
requests==2.31.0
requests-oauthlib==1.4.0
selenium==4.18.1
six==1.15.0
smart-open==6.4.0
sniffio==1.3.1
social-auth-app-django==5.4.0
social-auth-core==4.5.3
sortedcontainers==2.4.0
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.4.1
srsly==2.4.8
tablib==3.5.0
thinc==8.2.3
toml==0.10.2
tqdm==4.66.2
trio==0.24.0
trio-websocket==0.11.1
twilio==8.13.0
typer==0.9.0
typing_extensions==4.10.0
urllib3==2.2.1
virtualenv==20.25.1
wasabi==1.1.2
weasel==0.3.4
webencodings==0.5.1
whitenoise==5.2.0
wrapt==1.12.1
wsproto==1.2.0
xlrd==2.0.1
xlwt==1.3.0
yarl==1.9.4
YubiOTP==1.0.0
